<div class="wrapper">

    <app-sidebar></app-sidebar>
  
    <div class="main-panel ps-container ps-theme-default ps-active-y" data-ps-id="1ed78ac3-e3e8-040c-b201-b36b7ecbd826">
      <!-- Navbar -->
      <app-navbar></app-navbar>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">CITAS MÉDICAS</h4>
                  <p class="card-category"> Estado de mis citas médicas</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                          <th>N°</th>
                          <th>Servicio</th>
                          <th>Médico(a)</th>
                          <th>Fecha y Hora</th>
                          <th style="text-align: center;">Estado</th>
                      </tr></thead>
                      <tbody>                 
                        <tr *ngFor="let lista of listado;">
                          <td>{{ lista.id }}</td>   
                          <td>{{ lista.servicio.nombre }}</td>  
                          <td>{{ lista.medico.nombre }}</td>  
                          <td>{{ lista.fecha | date:'dd/MM/yyyy HH:mm':'UTC -5' }}</td>  
                          <td style="text-align: center;">
                            <span *ngIf="lista.estado == 'CONFIRMADA'" class="btn btn-primary btn-round">
                              {{ lista.estado }}
                            </span>
                            <span *ngIf="lista.estado == 'CUMPLIDA'" class="btn btn-primary btn-round">
                              {{ lista.estado }}
                            </span>
                            <span *ngIf="lista.estado == 'PENDIENTE_PAGO'" class="btn btn-primary btn-round">
                              PAGO PENDIENTE
                            </span>
                            <span *ngIf="lista.estado == 'ANULADA'" class="btn btn-primary btn-round">
                              {{ lista.estado }}
                            </span>
                            <span *ngIf="lista.estado == 'REPROGRAMADA'" class="btn btn-primary btn-round">
                              {{ lista.estado }}
                            </span>
                          </td>                             
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
   
          </div>
        </div>
      </div>

    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
      
      <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
      </div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px; height: 625px;">
      <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 316px;">
      </div>
    </div>
    </div>

</div>